<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Misión</title>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <h2>Nuestra Misión</h2>
    <p>
        La misión de la Escuela de Patinaje es fomentar la disciplina, el trabajo en equipo 
        y el desarrollo físico y mental de nuestros estudiantes a través del patinaje, 
        formando deportistas íntegros y comprometidos.
    </p>
</body>
</html>