<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visión</title>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <h2>Nuestra Visión</h2>
    <p>
        Ser reconocidos a nivel nacional como la escuela líder en formación de patinadores, 
        destacándonos por la excelencia deportiva, la innovación en los métodos de enseñanza 
        y el compromiso con la comunidad.
    </p>
</body>
</html>